/*!*************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[2].oneOf[9].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[2].oneOf[9].use[3]!./node_modules/next/dist/build/webpack/loaders/resolve-url-loader/index.js??ruleSet[1].rules[2].oneOf[9].use[4]!./node_modules/next/dist/compiled/sass-loader/cjs.js??ruleSet[1].rules[2].oneOf[9].use[5]!./components/list/listItem/listItem.module.scss ***!
  \*************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
.listItem_item__i8SFh {
  display: flex;
  flex-direction: row;
}

.listItem_iconMargin__huKop {
  margin-top: 15px;
}

.listItem_icon__i4K_I {
  cursor: pointer;
}
.listItem_icon__i4K_I:hover {
  fill: red;
}

.listItem_text__nhS73 {
  margin: 0 0 0 0;
  padding: 5px 5px 5px 0;
}

.listItem_buttonState__ziEhO {
  background: #FFFFFF;
  border: none;
  outline: none;
}

.listItem_inputList__0MM6l {
  border: none;
  border-bottom: 1px solid black;
  outline: none;
  width: 450px;
  font-size: 16px;
  padding-left: 10px;
}
.listItem_inputList__0MM6l:focus {
  border: none;
  outline: none;
  border-bottom: 1px solid black;
}
/*!************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[2].oneOf[9].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[2].oneOf[9].use[3]!./node_modules/next/dist/build/webpack/loaders/resolve-url-loader/index.js??ruleSet[1].rules[2].oneOf[9].use[4]!./node_modules/next/dist/compiled/sass-loader/cjs.js??ruleSet[1].rules[2].oneOf[9].use[5]!./app/list/[id]/listId.module.scss ***!
  \************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
.listId_body__3BTKT {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.listId_container__M6VR3 {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100vw;
  height: 90vh;
  padding-top: 10vh;
}

.listId_container__M6VR3 {
  justify-content: space-around;
  align-items: flex-start;
  flex-direction: row;
  width: 100vw;
  padding-top: 15vh;
}
