/*!*************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[2].oneOf[9].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[2].oneOf[9].use[3]!./node_modules/next/dist/build/webpack/loaders/resolve-url-loader/index.js??ruleSet[1].rules[2].oneOf[9].use[4]!./node_modules/next/dist/compiled/sass-loader/cjs.js??ruleSet[1].rules[2].oneOf[9].use[5]!./components/list/listItem/listItem.module.scss ***!
  \*************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
.listItem_item__i8SFh {
  display: flex;
  flex-direction: row;
}

.listItem_iconMargin__huKop {
  margin-top: 15px;
}

.listItem_icon__i4K_I {
  cursor: pointer;
}
.listItem_icon__i4K_I:hover {
  fill: red;
}

.listItem_text__nhS73 {
  margin: 0 0 0 0;
  padding: 5px 5px 5px 0;
}

.listItem_buttonState__ziEhO {
  background: #FFFFFF;
  border: none;
  outline: none;
}

.listItem_inputList__0MM6l {
  border: none;
  border-bottom: 1px solid black;
  outline: none;
  width: 450px;
  font-size: 16px;
  padding-left: 10px;
}
.listItem_inputList__0MM6l:focus {
  border: none;
  outline: none;
  border-bottom: 1px solid black;
}
/*!*******************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[2].oneOf[9].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[2].oneOf[9].use[3]!./node_modules/next/dist/build/webpack/loaders/resolve-url-loader/index.js??ruleSet[1].rules[2].oneOf[9].use[4]!./node_modules/next/dist/compiled/sass-loader/cjs.js??ruleSet[1].rules[2].oneOf[9].use[5]!./components/list/listAddItem/listAddItem.module.scss ***!
  \*******************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
.listAddItem_body__HS5Md {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.listAddItem_context__nN0M6 {
  height: 250px;
  width: 500px;
}

.listAddItem_item___u0Dh {
  margin-top: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.listAddItem_itemButton__10zs1 {
  outline: none;
  border: 1px solid black;
  border-radius: 2rem;
  background-color: #ffd500;
  height: 5rem;
  font-size: 1.3rem;
  width: 70%;
}
.listAddItem_itemButton__10zs1:hover {
  background: rgba(215, 177, 0, 0.79);
}

.listAddItem_itemLabel__qKhHQ {
  font-size: 20px;
}

.listAddItem_itemInput__H7G2_ {
  padding-top: 5px;
  padding-bottom: 3px;
  border: none;
  border-bottom: 1px solid #000000;
  outline: none;
  font-size: 18px;
  width: 300px;
  text-align: center;
}
.listAddItem_itemInput__H7G2_:hover {
  transition: transform 0.3s ease;
  transform: scale(1.05);
}
.listAddItem_itemInput__H7G2_:focus {
  transition: transform 0.3s ease;
  transform: scale(1.05);
}
/*!*******************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[2].oneOf[9].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[2].oneOf[9].use[3]!./node_modules/next/dist/build/webpack/loaders/resolve-url-loader/index.js??ruleSet[1].rules[2].oneOf[9].use[4]!./node_modules/next/dist/compiled/sass-loader/cjs.js??ruleSet[1].rules[2].oneOf[9].use[5]!./components/list/listFriends/listFriends.module.scss ***!
  \*******************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
.listFriends_headLine__psNwa {
  display: flex;
  flex-direction: row;
  font-size: 20px;
}

.listFriends_friendContext__GgVvp {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.listFriends_friendItem__PldJi {
  font-size: 18px;
  margin-top: 5px;
}

.listFriends_icon__LS2Si {
  cursor: pointer;
}
.listFriends_icon__LS2Si:hover {
  fill: red;
}
/*!*****************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[2].oneOf[9].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[2].oneOf[9].use[3]!./node_modules/next/dist/build/webpack/loaders/resolve-url-loader/index.js??ruleSet[1].rules[2].oneOf[9].use[4]!./node_modules/next/dist/compiled/sass-loader/cjs.js??ruleSet[1].rules[2].oneOf[9].use[5]!./app/list/list.module.scss ***!
  \*****************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
.list_body__oVMcs {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.list_container__y_INv {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100vw;
  height: 90vh;
  padding-top: 10vh;
}

.list_container__y_INv {
  justify-content: space-around;
  align-items: flex-start;
  flex-direction: row;
  width: 100vw;
  padding-top: 15vh;
}
