/*!************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[2].oneOf[9].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[2].oneOf[9].use[3]!./node_modules/next/dist/build/webpack/loaders/resolve-url-loader/index.js??ruleSet[1].rules[2].oneOf[9].use[4]!./node_modules/next/dist/compiled/sass-loader/cjs.js??ruleSet[1].rules[2].oneOf[9].use[5]!./components/home/home.module.scss ***!
  \************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
.home_body__mpT6O {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.home_container__pm04e {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100vw;
  height: 90vh;
  padding-top: 10vh;
}

.home_buttonSignUp__P045y {
  outline: none;
  border: 1px solid black;
  border-radius: 2rem;
  background-color: #ffd500;
  height: 5rem;
  font-size: 1.3rem;
  width: 100%;
}
.home_buttonSignUp__P045y:hover {
  background: rgba(215, 177, 0, 0.79);
}

.home_content__aOKPs {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 50%;
  height: 100%;
}

.home_link__ldYmd {
  width: 50%;
  height: 5rem;
  margin-top: 50px;
}

.home_headline__AhLqz {
  font-size: 3rem;
}

.home_headlineService__PFu90 {
  font-size: 3rem;
  margin-bottom: 50px;
}

.home_defaultText__IBgdq {
  font-size: 1.3rem;
}

.home_text__gPljU {
  text-align: center;
}
